@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-align: justify;
}

#logo_home {
    
}

#logo_home > img {
    width: 100px;
    margin: 10px 50px;
    background: no-repeat;
}

#ibusca_produto {
    align-items: center;
    border-radius: 10;
}

body {
    overflow-x: hidden;
    background: linear-gradient(to bottom, pink, orange);
}

#container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 80px 40px 1fr 40px;
    grid-template-columns: 1fr;
    gap: 5px;
}

header {
    background-color: rgb(109, 26, 26);
    grid-area: 1 / 1 / 2 / -1;
}

nav {
    background-color: green;
    grid-area: 2 / 1 / 3 / -1;
}

main {
    background: url('../imagens/imagem_Mari_Bonecas.png') no-repeat center;
    grid-area: 3 / 1 / -2 / 2;
}

footer {
    color: white;
    background-color: black;
    grid-area: -1 / 1 / -1 / 1;
}