@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-align: justify;
}

/*INÍCIO...Header*/

#container {
    display: flex;
    align-items: center;
    background-color: rgb(187, 181, 181);
    padding: 10px;
}

nav {
  
}

#imgLogotipo {
    width: 100px;
    margin: 10px 50px 10px 150px;
    background: no-repeat;
}

#iform_buscaproduto {
    display: flex;
    align-items: center;

}

#ibusca_produto {
    border-radius: 30px 0px 0px 30px;
    width: 450px;
    height: 40px;
    align-self: auto;
    margin-right: 10px;
    margin-left: 80px;
    padding: 10px;
    border: none;
}

#ibtnbuscar_produto {
    border-radius: 0px 10px 10px 0px;
    background-color: white;
    background-image: url('../imagens/btnSearchProduct.png');
    background-size: 30px;
    background-repeat: no-repeat;
    border: none;
    width: 50px;
    height: 40px;
    cursor: pointer;
}

/*FIM...Header*/

body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background: linear-gradient(to bottom, pink, orange);
}

main {
    background: url('../imagens/imagem_Mari_Bonecas.png') no-repeat center;
  
}

footer {
    width: 100vw;
    position: absolute;
    bottom: 0;
    color: white;
    background-color: black;
    margin: auto auto;
    padding: 10px;
}